body {
   background-color:#904e55;
   font-family: cursive; 

    
}

header h1{
    color: #bfb48b;
    text-align: center;
}

#menu {float: left;
margin-right: 35px;
border-style: inset;
border-width: 10px;
border-color: #564e58;}


#container {
    background-color: #9b565d;
    min-height: 600px;
    padding: 20px;
    border-width: 10px;
    border-style: inset;
    border-color: #564e58;
    margin: 20px auto;

}


nav ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 110px;
    background-color: #f2efe9

}

nav li{
    display: block;
    color: #000000;
    padding: 20px 20px;
    text-decoration: none;
    width: 60px;

}

nav li:hover{ 
    background-color: #e4cea3;
    

}